<h1>My Blog:<br><br>

 <img src="http://i.imgur.com/f1VmuOQ.jpg" alt="img" align="middle" />
  <br><br>The Beginnings of the Gover <i>net</i>...</h1>
<br><br><br>




<p>

  <% @posts.each do |post| %>
  <%= link_to post.title, post_path(post) %>
  <div class="posts" order="Desc">
  <%= post.body %>
  </div>
</p>
<% end %>






<%= render '/comments/form' %>
