<img src="/assets/billhicksshirt.jpg" align="right" />
<h1>New Post</h1>
<p>
  <strong>Title: </strong>
  <%= @post.title %>
</p>
<p>
  <strong>Body:
  <%= @post.body %></strong>
</p>
<%= render "form" %>
